
div#content {overflow:auto;} 

header,footer,nav{display:block;}

html {
  overflow-y: scroll;
  margin-bottom:30px; margin-top:60px;
  
}
body#pl a#pl-,
body#cv a#cv-,
body#contact a#contact- {background:#858585;border:2px solid #656565;}

.gradient 
{
 background: -webkit-gradient(linear, left top, left bottom,     color-stop(0.0, #FFFFFF), color-stop(0.60, #AAAAAA), color-stop(1.00, #FFFFFF)); 
 background: -moz-linear-gradient(top,  #FFFFFF 0%,  #AAAAAA 60%, #FFFFFF 100%);
  background-image: linear-gradient(top,  #FFFFFF 0%,  #AAAAAA 60%, #FFFFFF 100%);
  background-image:-webkit-linear-gradient(top,  #FFFFFF 0%,  #AAAAAA 60%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(top,  #FFFFFF 0%,  #AAAAAA 60%, #FFFFFF 100%);
  background-image:-o-linear-gradient(top,  #FFFFFF 0%,  #AAAAAA 60%, #FFFFFF 100%);
  background-image:-moz-linear-gradient(top,  #FFFFFF 0%,  #AAAAAA 60%, #FFFFFF 100%);
}  
 
nav.navmenu {
    display: block;
    padding: 0.5em 2em 0.5em 2em;   
    border-radius: 20px;
}
nav.navmenu a {
    padding: 0.3em 3em 0 5em;
    color: #000000;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration:none;
    font-style: italic;
}
nav.navmenu a:link    { color: #111111; background: #999999; border-radius: 20px;}
nav.navmenu a:visited { color: #111111; background: #999999; border-radius: 20px;}
nav.navmenu a:hover   { color: #111111; background: #999999; border-radius: 20px;}
nav.navmenu a:active  { color: #111111; background: #999999; border-radius: 20px;}

hr.line{color:#555555;}

.nr2{margin-bottom:20px; margin-top:20px;}

h1 {
  font-family: 'italic', serif;
  font-size: 60px;
  padding-top:100px;
  padding-left:50px;
  padding-bottom:150px;
  text-align:center;
}
.start
{
  font-family: 'italic', serif;
}
p{font-family: 'italic', serif;}
#bild
{ float: right;
  padding-right:100px;
  position: relative;
  left: 30px;
  top: -70px;
  border-radius: 50%;
}

html {background: linear-gradient(#ff7241, #ff4a1f);}

body 
{
  margin: 8px auto;
  width: 934px;
  padding-top:10px ;
  padding-bottom:10px;
  padding-right:10px;
  padding-left:10px;
  background: #ffffff;
  border: 1px solid #000000;
  font-family: Georgia, serif;
  color: #666666;
  height:auto;
  border-radius: 25px;
}



p.text
{
width:934px;
margin:0px;
padding: 0px; border: 0px solid red;
position:relative;
 top:00px;
left:00px;
}

div#margin
{
  margin-bottom:30px; margin-top:30px;
}
div#footer a
{	
  font: italic 0.8em Arial, Helvetica, sans-serif;
  text-decoration:none;
  color: #999999;
  position:relative;
  top:00px;
  left:000px;  
}
div#footer a:link    { text-decoration:underline;  color: #333333;}
div#footer a:visited { text-decoration:underline;  color: #333333;}
div#footer a:hover   { text-decoration:underline;  color: #333333; }
div#footer a:active  { text-decoration:underline;  color: #333333;}



